<%= form_with do %>
  <section class="p-10 bg-gray-200">
    <h1 class="text-4xl font-semibold">New Article</h1>

    <% unless Dokno::Category.exists? %>
      <div class="mt-10">
        <a href="<%= new_category_path(@category&.id) %>">Add a category first</a>
      </div>
    <% else %>
      <div class="mt-10">
        <div class="text-lg"><label for="category_id">Categories</label></div>
        <select name="category_id[]" id="category_id" multiple="multiple" size="5" class="rounded text-xl shadow p-2 max-w-full mt-2">
          <option></option>
          <%= Dokno::Category.select_option_markup(selected_category_id: @category_id).html_safe %>
        </select>
        <div class="text-gray-500 mt-2">
          If applicable, select one or more categories to which this article will belong (optional).
          Note: articles will be automatically included in parent categories. 
          CTRL/CMD to select multiple.
        </div>
      </div>
    <% end %>
  </section>

  <% if Dokno::Category.exists? %>
    <section class="p-10 bg-gray-100">
      <div class="p-10 bg-white rounded-lg shadow">
        <div class="mb-5">
          <div class="text-lg font-semibold"><label for="slug">Slug</label></div>
          <input placeholder="Article unique identifier" type="text" name="slug" id="slug" value="<%= @article.slug %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-1/5" />
        </div>

        <div class="mb-5">
          <div class="text-lg font-semibold"><label for="title">Title</label></div>
          <input placeholder="Article title" type="text" name="title" id="title" value="<%= @article.title %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-1/2" />
        </div>

        <div class="mb-5">
          <div class="text-lg font-semibold"><label for="summary">Summary</label></div>
          <input placeholder="Brief article summary" type="text" name="summary" id="summary" value="<%= @article.summary %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-full" />
        </div>

        <div class="mb-5">
          <div class="text-lg font-semibold"><label for="markdown">Content</label></div>
          <textarea placeholder="Full article content (markdown)" name="markdown" id="markdown" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-full" rows="10"><%= @article.markdown %></textarea>
        </div>

        <div>
          <button type="submit" class="bg-gray-600 text-gray-200 hover:bg-gray-800 hover:text-white rounded py-1 px-3 ml-5 text-lg font-bold"><i data-feather="save" class="inline"></i> SAVE ARTICLE</button>
          <span class="text-lg ml-5"><a class="no-underline" href="<%= category_path(@category_id) %>">Cancel</a></span>
        </div>
      </div>
    </section>
  <% end %>
<% end %>