<div class="no-print flex items-center mb-10">
  <% if Dokno::Category.exists? %>
    <div class="w-1/2 pr-5">
      <select aria-label="Category" name="category" id="category" size="1" class="rounded text-xl shadow-inner bg-gray-100 p-2 w-full max-w-full" onchange="applyCategoryCriteria(this.value, elem('#search_term').value, '<%= @order %>');">
        <option value="">Uncategorized</option>

        <optgroup label="Categories">
          <% cache Dokno::Category do %>
            <%= Dokno::Category.select_option_markup.html_safe %>
          <% end %>
        </optgroup>
      </select>
    </div>

    <script>
      // Client-side select of cached select list
      selectOption('category', '<%= j @category&.code %>');
    </script>
  <% end %>

  <% if Dokno::Article.exists? %>
    <div class="relative w-<%= Dokno::Category.exists? ? '1/2 pl-5' : 'full' %>">
      <i data-feather="search" class="absolute ml-4 mt-3 inline-block text-gray-300" title="Search"></i>
      <input title="Press / to search" onsearch="applyCategoryCriteria('<%= @category&.code %>', this.value, '<%= @order %>');" onfocus="disableSearchHotkey();" onblur="enableSearchHotkey();" placeholder="Search<%= @category.present? ? ' under this category' : ', hotkey /' %>" type="search" name="search_term" id="search_term" value="<%= @search_term %>" class="pl-12 pr-8 py-2 rounded text-xl shadow-inner bg-gray-100 w-full" />
      <% if @category.present? %><div title="Press / to search" class="absolute -ml-6 mt-2 inline-block text-gray-300 font-semibold">/</div><% end %>
    </div>
  <% end %>
</div>

<script> enableSearchHotkey(); </script>
