<% if article&.logs.present? %>
  <div class="py-10 px-16 text-gray-200 bg-gray-900">
    <div class="w-full max-w-screen-xl m-auto">
      <div class="text-xl text-gray-600 cursor-pointer" onclick="toggleVisibility('change-log');">
        Change history for this article

        <div class="inline toggle-visibility-indicator-container change-log">
          <i data-feather="chevron-left" class="inline toggle-visibility-indicator change-log"></i>
        </div>
      </div>

      <div id="change-log" class="bg-gray-800 px-10 mt-8 rounded hidden text-gray-500">
        <ul>
          <% article.logs.includes(article: :categories).each do |log| %>
            <li class="my-10">
              <div>
                <% if article.blank? %>
                  <div class="text-white text-xl"><a href="<%= article_path log.article.slug %>" title="View Article"><%= log.article.title %></a></div>
                  <div class="mb-5"><%= log.article.category_name_list %></div>
                <% end %>

                <div class="text-gray-500 bg-gray-700 p-5 pr-10 rounded <%= 'cursor-pointer' if log.diff_left != log.diff_right %> flex items-center" onclick="toggleVisibility('article-diff-<%= log.id %>');" title="Show / Hide Diff">
                  <div class="w-<%= log.diff_left != log.diff_right ? '11/12' : 'full' %>">
                    <%= time_ago_in_words log.created_at %> ago
                    <% if log.username.present? %>
                      by <%= log.username %>
                    <% end %>

                    <% if log.meta.present? %>
                      <br /><span class="text-gray-300"><%= log.meta %></span>
                    <% end %>
                  </div>

                  <% if log.diff_left != log.diff_right %>
                    <div class="w-1/12 text-right toggle-visibility-indicator-container article-diff-<%= log.id %>">
                      <i data-feather="chevron-left" class="inline toggle-visibility-indicator article-diff-<%= log.id %>"></i>
                    </div>
                  <% end %>
                </div>

                <% if log.diff_left != log.diff_right %>
                  <div id="article-diff-<%= log.id %>" class="flex hidden">
                    <div class="w-1/2 p-5">Before:<br /><%= log.diff_left.html_safe %></div>
                    <div class="w-1/2 p-5">After:<br /><%= log.diff_right.html_safe %></div>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
