<!DOCTYPE html>
<html>
<head>
  <title><%= Dokno.config.app_name %> KNOWLEDGEBASE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dokno/application", media: "all" %>
  <%= javascript_include_tag 'dokno/application' %>

  <script>
    var dokno__base_path = '<%= root_path %>';
  </script>
</head>
<body class="bg-white font-sans subpixel-antialiased">
  <nav id="dokno-nav-container" class="bg-blue-500 text-white p-10 text-lg">
    <div class="flex">
      <div class="w-1/3">
        <a href="<%= root_path %>">
          <%= Dokno::ICON.html_safe %>
          <span class="font-semibold uppercase ml-2"><%= Dokno.config.app_name %> KNOWLEDGEBASE</span>
        </a>
      </div>
      <div class="w-2/3 text-right">
        <% if can_edit? %>
          <% if action_name != 'new' %>
            <button class="bg-blue-700 text-gray-300 hover:text-white rounded py-1 px-2 font-semibold text-sm" onclick="location.href='<%= new_article_path %>/?category_id=<%= @category&.id %>';"><i data-feather="plus-circle" class="inline h-4"></i> ADD ARTICLE</button>
            <button class="bg-gray-700 text-gray-300 hover:text-white rounded ml-2 py-1 px-2 font-semibold text-sm" onclick="location.href='<%= new_category_path %>/?parent_category_id=<%= @category&.id %>';"><i data-feather="folder-plus" class="inline h-4"></i> ADD CATEGORY</button>
          <% end %>

          <% if @article&.persisted? && action_name != 'edit' %>
            <button class="bg-gray-700 text-gray-300 hover:text-white rounded ml-2 py-1 px-2 font-semibold text-sm" onclick="location.href='<%= edit_article_path(@article.slug) %>';"><i data-feather="edit" class="inline h-5"></i> EDIT ARTICLE</button>
          <% elsif @category&.persisted? && action_name != 'edit' %>
            <button class="bg-gray-700 text-gray-100 hover:text-white rounded ml-2 py-1 px-2 font-semibold text-sm" onclick="location.href='<%= edit_category_path(@category) %>';"><i data-feather="edit" class="inline h-5"></i> EDIT CATEGORY</button>
          <% end %>
        <% end %>

        <% if action_name != 'edit' %>
          <button class="bg-yellow-700 text-gray-300 hover:text-white rounded ml-2 py-1 px-2 font-semibold text-sm" onclick="window.open('/');"><i data-feather="log-out" class="inline h-4"></i> GO TO <%= Dokno.config.app_name.upcase %></button>
        <% end %>
      </div>
    </div>
  </nav>

  <% if @article.blank? && (@category.blank? || @search_term.present?) %>
    <div class="p-10 bg-gray-100 text-center">
      <% if @search_term.present? %>
        <div class="text-gray-600 text-2xl font-light uppercase">
          <%= (article_count = @articles.count).positive? ? "#{article_count} #{'article'.pluralize(article_count)}" : 'No articles' %>
          found containing the search term
          <div class="text-4xl"><span class="font-serif">&ldquo;</span> <%= @search_term %> <span class="font-serif">&rdquo;</span> </div>
        </div>
      <% else %>
        <div class="text-gray-600 text-2xl font-light">
          Browse or search
          <% if (article_count = Dokno::Article.count) > 1 %>
            <%= number_with_delimiter(article_count, delimiter: ',') %> articles in
          <% end %>
          the
        </div>
        <div class="text-gray-800 text-4xl font-light uppercase"><%= Dokno.config.app_name %> knowledgebase</div>
      <% end %>
    </div>
  <% end %>

  <div id="dokno-content-container" class="w-full max-w-screen-xl m-auto font-light p-10">
    <%= yield %>
  </div>

  <footer id="dokno-footer-container" class="font-light">
    <% if action_name != 'edit' && action_name != 'new' %>
      <%= render 'partials/logs' %>
    <% end %>

    <% if user.present? %>
      <div class="p-10 text-gray-100 bg-gray-800 text-center">
        <div><%= Dokno.config.app_name %> Authenticated User: <span class="font-semibold"><%= username %></span></div>
        <% if can_edit? %>
          <div>Can edit knowledgebase? <span class="font-semibold">Yes</span></div>
        <% end %>
      </div>
    <% end %>
  </footer>

  <%= javascript_include_tag 'init' %>
</body>
</html>
