<!DOCTYPE html>
<html>
<head>
  <title>Dokno</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dokno/application", media: "all" %>
  <%= javascript_include_tag 'dokno/application' %>
</head>
<body class="bg-white font-sans subpixel-antialiased">
  <nav id="dokno-nav-container" class="bg-blue-500 text-white p-10 text-lg mb-10">
    <div class="flex">
      <div class="w-2/3">
        <a href="<%= root_path %>">
          <%= Dokno::ICON.html_safe %>
          <span class="font-semibold uppercase ml-2">Knowledgebase / <%= Dokno.config.app_name %></span>
        </a>
      </div>
      <div class="w-1/3 text-right">
        <button class="bg-gray-700 text-gray-300 hover:text-white rounded ml-3 py-1 px-3 font-semibold text-sm" onclick="window.open('/');">GO TO <%= Dokno.config.app_name.upcase %></button>
        <button class="bg-blue-700 text-gray-300 hover:text-white rounded ml-3 py-1 px-3 font-semibold text-sm" onclick="location.href='<%= new_article_path %>/?category_id=<%= @category&.id %>';">ADD ARTICLE</button>
      </div>
    </div>
  </nav>

  <div id="dokno-content-container" class="w-full max-w-screen-lg m-auto font-light">
    <%= yield %>
  </div>

  <footer id="dokno-footer-container" class="p-10 text-gray-200 bg-gray-900 mt-10">
    <div>Dokno.config:</div>
    <%= Dokno.config.inspect %>
  </footer>

  <%= javascript_include_tag 'init' %>
</body>
</html>
