<!DOCTYPE html>
<html>
<head>
  <title><%= Dokno.config.app_name %> KNOWLEDGEBASE</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dokno/application", media: "all" %>
  <%= javascript_include_tag 'dokno/application' %>

  <script>
    var dokno__base_path = '<%= root_path %>';
  </script>
</head>
<body class="bg-white font-sans font-light subpixel-antialiased">

  <nav id="dokno-nav-container" class="bg-blue-900 text-white p-10 text-lg">
    <div class="flex items-center">
      <div class="w-1/3">
        <a href="<%= root_path %>">
          <span class="font-semibold uppercase ml-1"><%= Dokno.config.app_name %> KNOWLEDGEBASE</span>
        </a>
      </div>
      <div class="w-2/3 text-right">
        <% if can_edit? %>
          <% if action_name != 'new' %>
            <button title="Add a new article" class="bg-gray-700 text-gray-300 hover:text-white hover:bg-gray-900 rounded ml-3 py-2 px-3 font-bold text-base" onclick="location.href='<%= new_article_path %>/?category_id=<%= @category&.id %>';"><i data-feather="plus-circle" class="inline h-5"></i> ARTICLE</button>
            <button title="Add a new category" class="bg-gray-700 text-gray-300 hover:text-white hover:bg-gray-900 rounded ml-3 py-2 px-3 font-bold text-base" onclick="location.href='<%= new_category_path %>/?parent_category_id=<%= @category&.id %>';"><i data-feather="plus-circle" class="inline h-5"></i> CATEGORY</button>
          <% end %>

          <% if @category&.persisted? && action_name != 'edit' %>
            <button title="Edit this category" class="bg-gray-700 text-gray-100 hover:text-white hover:bg-gray-900 rounded ml-3 py-2 px-3 font-bold text-base" onclick="location.href='<%= edit_category_path(@category) %>';"><i data-feather="edit" class="inline h-5"></i> CATEGORY</button>
          <% end %>
        <% end %>

        <% if action_name != 'edit' %>
          <button class="bg-green-700 text-gray-300 hover:text-white hover:bg-green-800 rounded ml-3 py-2 px-3 font-bold text-base" onclick="window.open('/');"><i data-feather="log-out" class="inline h-5"></i> GO TO APP</button>
        <% end %>
      </div>
    </div>
  </nav>

  <main>
    <% if @article.blank? && (@category.blank? || @search_term.present?) %>
      <div class="px-10 py-8 bg-gray-100 text-center shadow">
        <% if @search_term.present? %>
          <div class="text-gray-600 text-2xl uppercase">
            <%= (article_count = @articles.count).positive? ? "#{article_count} #{'article'.pluralize(article_count)}" : 'No articles' %>
            found containing the search term
            <div class="text-4xl leading-tight"><span class="font-serif">&ldquo;</span> <%= @search_term %> <span class="font-serif">&rdquo;</span> </div>
          </div>
        <% else %>
          <div class="text-gray-600 text-2xl">
            Browse or search
            <% if (article_count = Dokno::Article.count) > 1 %>
              <%= number_with_delimiter(article_count, delimiter: ',') %> articles in
            <% end %>
            the
          </div>
          <div class="text-gray-800 text-4xl leading-tight uppercase"><%= Dokno.config.app_name %> knowledgebase</div>
        <% end %>
      </div>
    <% end %>

    <div id="dokno-content-container" class="w-full max-w-screen-xl m-auto p-10 print-this">
      <%= yield %>
    </div>
  </main>

  <footer id="dokno-footer-container">
    <% if action_name != 'edit' && action_name != 'new' %>
      <div id="dokno-article-log-container" data-category-id="<%= @category&.id %>" data-article-id="<%= @article&.id %>">
        <%= render 'partials/logs', category: @category, article: @article %>
      </div>
    <% end %>


    <div class="p-10 text-gray-400 bg-blue-900">
      <div class="w-full max-w-screen-xl m-auto flex">
        <div class="w-1/2">
          <% if user.present? %>
            <%= Dokno.config.app_name %> Authenticated User : <span class="text-white"><%= username %></span>
            (<%= can_edit? ? 'Editor' : 'Read Only' %>)
          <% end %>
        </div>
        <div class="w-1/2 text-right">
          <a href="/" target="_blank" title="Go to the app"><%= Dokno.config.app_name %></a>
        </div>
      </div>
    </div>

  </footer>

  <%= javascript_include_tag 'init' %>
</body>
</html>
