<!DOCTYPE html>
<html>
<head>
  <title>Dokno</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dokno/application", media: "all" %>
  <%= javascript_include_tag 'dokno/application' %>
</head>
<body class="bg-gray-900">
  <nav id="dokno-nav-container" class="bg-green-900 text-white p-10">
    <a href="<%= root_path %>">
      <i data-feather="layers" class="inline"></i>
      <span class="font-semibold uppercase ml-2 text-lg">Knowledgebase / <%= Dokno.config.app_name %></span>
    </a>
  </nav>

  <div id="dokno-content-container">
    <%= yield %>
  </div>

  <footer id="dokno-footer-container" class="p-10 text-gray-200">
    <div>Dokno.config:</div>
    <%= Dokno.config.inspect %>
  </footer>

  <%= javascript_include_tag 'init' %>
</body>
</html>
