<!DOCTYPE html>
<html>
<head>
  <title>Dokno</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "dokno/application", media: "all" %>
  <%= javascript_include_tag 'dokno/application' %>

</head>
<body>

<%= yield %>

</body>
</html>
