<%= render 'dokno/article_formatting' %>

<section class="mb-10">

  <div class="text-2xl mb-5 text-gray-500"><%= article.persisted? ? 'Edit' : 'New' %> Article</div>
  <h1 class="text-4xl mb-5 leading-tight font-light"><%= article.title %></h1>
  <hr class="mb-5" />

  <div class="mb-5">
    <div class="text-lg font-semibold"><label for="slug">Slug</label></div>
    <input placeholder="Article unique identifier" type="text" name="slug" id="slug" value="<%= article.slug %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-1/3" />
    <div class="text-gray-500 mt-2">Unique identifier for this article (required) (2-12 alphanumeric chars)</div>
  </div>

  <% if Dokno::Category.exists? %>
    <div class="mb-5">
      <div class="text-lg font-semibold"><label for="category_id"><%= 'Category'.pluralize article.categories.count %></label></div>
      <select name="category_id[]" id="category_id" multiple="multiple" size="<%= (cat_count = Dokno::Category.count) <= 4 ? (cat_count + 1).to_s : '5' %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 w-full mt-2 w-full max-w-full">
        <option></option>
        <%= Dokno::Category.select_option_markup(selected_category_ids: @category_ids).html_safe %>
      </select>
      <div class="text-gray-500 mt-2">
        If applicable, select one or more categories to which this article will belong (optional). CTRL/CMD to select multiple.
        Articles will be automatically included in parent categories. Uncategorized articles
        are displayed on the landing page.
      </div>
    </div>
  <% end %>

  <hr class="mb-5" />

  <div class="mb-5">
    <div class="text-lg font-semibold"><label for="title">Title</label></div>
    <input placeholder="Article title" type="text" name="title" id="title" value="<%= article.title %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-1/2" />
    <div class="text-gray-500 mt-2">Descriptive article title (required) (5-255 alphanumeric chars)</div>
  </div>

  <div class="mb-5">
    <div class="text-lg font-semibold"><label for="summary">Summary</label></div>
    <input placeholder="Brief article summary" type="text" name="summary" id="summary" value="<%= article.summary %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 mt-2 w-full" />
    <div class="text-gray-500 mt-2">Brief summary of the described topic (text only)</div>
  </div>

  <div class="mb-5">
    <div class="text-lg font-semibold">
      <label for="markdown">Content</label>
      <a id="markdown_write_link" href="javascript:;" onclick="writeArticleToggle();" class="float-right hidden"><i data-feather="pen-tool" class="inline"></i> Write</a>
      <a id="markdown_preview_link" href="javascript:;" onclick="previewArticleToggle();" class="float-right"><i data-feather="eye" class="inline"></i> Preview</a>
    </div>
    <textarea placeholder="Full article content" name="markdown" id="markdown" class="rounded text-xl shadow-inner bg-gray-100 p-3 mt-2 w-full" rows="10"><%= article.markdown %></textarea>
    <div id="markdown_preview" class="dokno-article-content-markup hidden text-lg overflow-hidden overflow-y-auto rounded p-8 mt-2 shadow-inner"></div>
    <div class="text-gray-500 mt-2">Detailed documentation of the described topic (Markdown OK)</div>
  </div>

  <div class="mt-10">
    <button type="submit" class="bg-gray-700 text-gray-300 hover:bg-gray-900 hover:text-white rounded py-2 px-3 font-bold"><i data-feather="check" class="inline h-5"></i> SAVE ARTICLE</button>
    <span class="text-lg ml-5"><a class="no-underline" href="<%= article.persisted? ? article_path(article.slug) : root_path %>">Cancel</a></span>
  </div>

</section>
