<%= render 'dokno/article_formatting' %>

<section>
  <div class="flex">
    <div id="dokno-article-sidebar" class="w-2/5 pr-10">
      <div id="article-deprecated-alert" class="<%= 'hidden' if @article.active %> bg-yellow-700 p-4 mb-5 rounded text-lg border-t-4 border-yellow-900 text-white font-base">
        <i data-feather="alert-circle" class="inline-block mr-2"></i> This article is no longer active
      </div>

      <h1 class="dokno-article-content-highlight text-4xl mb-10 leading-tight font-light"><%= @article.title %></h1>

      <div>
        <div class="mb-10 no-print">
          <button title="Email article" class="bg-gray-600 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold text-xs" onclick="window.open('mailto:?subject=<%= CGI.escape(@article.title) %>&body=<%= CGI.escape(article_url(@article.slug)) %>');"><i data-feather="send" class="inline h-4"></i> EMAIL THIS</button>
          <button title="Print article" class="bg-gray-600 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold text-xs" onclick="window.print();"><i data-feather="printer" class="inline h-4"></i> PRINT THIS</button>

          <% if can_edit? %>
            <button title="Edit article" class="bg-blue-900 text-gray-300 hover:text-white rounded py-2 px-3 font-bold text-xs" onclick="location.href='<%= edit_article_path(@article.slug) %>';"><i data-feather="edit" class="inline h-4"></i> EDIT THIS</button>
          <% end %>
        </div>

        <div class="flex">
          <div class="no-print w-8"><i data-feather="clock" class="inline-block h-5"></i></div>
          <div class="w-full">
            Last updated:<br />
            <%= time_ago_in_words @article.updated_at %> ago
            <% if (editor_username = @article.logs.first&.username).present? %>
              by <%= editor_username %>
            <% end %>
          </div>
        </div>

        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="eye" class="inline-block h-5"></i></div>
          <div class="w-full">
            Views:<br />
            <%= number_with_delimiter(@article.views, delimiter: ',') %>
          </div>
        </div>

        <% if @article.contributors.present? %>
          <div class="mt-5 flex">
            <div class="no-print w-8"><i data-feather="user-check" class="inline-block h-5"></i></div>
            <div class="w-full">
              Contributors:<br />
              <%= @article.contributors %>
            </div>
          </div>
        <% end %>

        <% if @article.reading_time.present? %>
          <div class="mt-5 flex">
            <div class="no-print w-8"><i data-feather="watch" class="inline-block h-5"></i></div>
            <div class="w-full">
              Reading time:<br />
              <%= @article.reading_time %>
            </div>
          </div>
        <% end %>

        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="crosshair" class="inline-block h-5"></i></div>
          <div class="w-full">
            Unique slug:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= j @article.slug %>');"><%= @article.slug %></a>
          </div>
        </div>

        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="link" class="inline-block h-5"></i></div>
          <div class="w-full">
            Permalink:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= @article.permalink(request.base_url) %>');"><%= @article.permalink(request.base_url) %></a>

            <% if can_edit? && (old_slugs = @article.article_slugs).present? %>
              <div class="text-gray-500 mt-5">
                Editor note:<br />
                This article is still accessible via previous
                <%= 'slug'.pluralize(old_slugs.count) %>
                <%= old_slugs.map(&:slug).reject { |slug| slug == @article.slug }.to_sentence %>
              </div>
            <% end %>
          </div>
        </div>

        <% if @article.categories.exists? %>
          <div class="mt-5 flex">
            <div class="no-print w-8"><i data-feather="folder" class="inline-block h-5"></i></div>
            <div class="w-full">
              <%= 'Category'.pluralize @article.categories.count %>:<br />
              <%= @article.category_name_list.split(':').last.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="dokno-article-content" class="dokno-article-content-highlight w-3/5">
      <% if @article.summary.present? %>
        <div class="text-2xl mb-8 text-gray-700 font-light"><%= simple_format @article.summary %></div>
      <% end %>

      <% if @article.markdown.present? %>
        <div id="dokno-article-content-markup" class="dokno-article-content-markup text-gray-800 font-light mb-10 bg-gray-100 p-10 rounded">
          <%= @article.markdown_parsed %>
        </div>
      <% end %>

      <% if @article.summary.blank? && @article.markdown.blank? %>
        <div class="mb-10">No content</div>
      <% end %>

      <% if can_edit? %>
        <div class="no-print">
          <hr class="mt-5" />
          <div class="mt-10 text-right">
            <button title="Deactivate article" id="article-deactivate-button" class="bg-yellow-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold text-xs <% if !@article.active %>hidden<% end %>" onclick="deactiveArticle('<%= @article.slug %>');"><i data-feather="sunset" class="inline h-4"></i> DEACTIVATE THIS</button>
            <button title="Re-activate article" id="article-activate-button" class="bg-green-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold text-xs <% if @article.active %>hidden<% end %>" onclick="activeArticle('<%= @article.slug %>');"><i data-feather="sunrise" class="inline h-4"></i> RE-ACTIVATE THIS</button>
            <button title="Permanently delete article" class="bg-red-700 text-gray-300 hover:text-white rounded py-2 px-3 font-bold text-xs" onclick="deleteArticle('<%= @article.id %>');"><i data-feather="trash" class="inline h-4"></i> DELETE THIS</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% if @search_term.present? %>
  <script>highlightTerm(['<%= j @search_term.strip %>'], 'dokno-article-content-highlight');</script>
<% end %>
