<%= render 'dokno/article_formatting' %>

<% if @category.present? %>
  <div class="no-print text-gray-500 mb-5">
    <div>
      <% if request.referrer&.include? article_index_path %>
        <a class="fixed left-0 ml-6" title="Back" href="javascript:history.back();"><i data-feather="chevrons-left" class="text-gray-300 h-5 align-text-bottom inline"></i></a>
      <% end %>
      <span class="text-gray-500 mr-1">Under</span> <%= @category.breadcrumb(search_term: @search_term, order: @order) %>
    </div>
  </div>
<% end %>

<%= render 'partials/category_header' %>

<div class="my-10 no-print"><hr /></div>

<section>
  <div class="flex">
    <div id="dokno-article-sidebar" class="w-2/5 pr-10">
      <h1 class="dokno-article-content-highlight text-4xl mb-8 leading-tight font-light">
        <%= @article.title %>
        <% if @article.starred %><i title="Starred article" data-feather="star" class="inline align-middle"></i><% end %>
      </h1>

      <div>
        <div class="mb-8 no-print">
          <button title="Copy link" class="bg-gray-600 text-gray-300 hover:text-white rounded my-2 mr-2 py-2 px-3 font-bold text-sm" onclick="copyToClipboard('<%= @article.permalink(request.base_url) %>');"><i data-feather="clipboard" class="inline h-5"></i> COPY</button>
          <button title="Email article" class="bg-gray-600 text-gray-300 hover:text-white rounded my-2 mr-2 py-2 px-3 font-bold text-sm" onclick="window.open('mailto:?subject=<%= CGI.escape(@article.title.to_s) %>&body=<%= CGI.escape(article_url(@article.slug)) %>');"><i data-feather="send" class="inline h-5"></i> EMAIL</button>
          <button title="Print article" class="bg-gray-600 text-gray-300 hover:text-white rounded my-2 py-2 px-3 font-bold text-sm" onclick="window.print();"><i data-feather="printer" class="inline h-5"></i> PRINT</button>
        </div>

        <div class="flex">
          <div class="no-print w-8"><i data-feather="clock" class="inline-block h-5 mr-2"></i></div>
          <div class="w-full">
            Last updated:<br />
            <%= time_ago_in_words @article.updated_at %> ago
            <% if (editor_username = @article.logs.first&.username).present? %>
              by <%= editor_username %>
            <% end %>
          </div>
        </div>

        <div class="mt-5 flex no-print">
          <div class="no-print w-8"><i data-feather="eye" class="inline-block h-5 mr-2"></i></div>
          <div class="w-full">
            Views:<br />
            <%= number_with_delimiter(@article.views, delimiter: ',') %>
          </div>
        </div>

        <% if @article.contributors.present? %>
          <div class="mt-5 flex">
            <div class="no-print w-8"><i data-feather="user-check" class="inline-block h-5 mr-2"></i></div>
            <div class="w-full">
              Contributors:<br />
              <%= @article.contributors %>
            </div>
          </div>
        <% end %>

        <% if @article.reading_time.present? %>
          <div class="mt-5 flex no-print">
            <div class="no-print w-8"><i data-feather="watch" class="inline-block h-5 mr-2"></i></div>
            <div class="w-full">
              Reading time:<br />
              <%= @article.reading_time %>
            </div>
          </div>
        <% end %>

        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="link" class="inline-block h-5 mr-2"></i></div>
          <div class="w-full">
            Permalink:<br />
            <a class="inline-block mt-1 -ml-2 px-2 py-1 bg-blue-100 rounded" title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= @article.permalink(request.base_url) %>');"><%= @article.permalink(request.base_url) %></a>
          </div>
        </div>

        <% if can_edit? %>
          <div class="mt-5 flex no-print">
            <div class="no-print w-8"><i data-feather="crosshair" class="inline-block h-5 mr-2"></i></div>
            <div class="w-full">
              Unique slug:<br />
              <a class="inline-block mt-1 -ml-2 px-2 py-1 bg-blue-100 rounded" title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= j @article.slug %>');"><%= @article.slug %></a>

              <% if (old_slugs = @article.article_slugs).present? %>
                <div class="text-gray-500 mt-5">
                  Editor note:<br />
                  This article is still accessible via previous
                  <%= 'slug'.pluralize(old_slugs.count) %>
                  <%= old_slugs.map(&:slug).reject { |slug| slug == @article.slug }.to_sentence %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if (category_name_list = @article.category_name_list(context_category_id: @category&.id)).present? %>
          <div class="mt-5 flex no-print">
            <div class="no-print w-8"><i data-feather="folder" class="inline-block h-5 mr-2"></i></div>
            <div class="w-full">
              <%= category_name_list.sub(':', ':<br />').html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="dokno-article-content" class="dokno-article-content-highlight w-3/5">
      <% if @article.summary.present? %>
        <div class="text-2xl mb-8 text-gray-700 font-light"><%= simple_format @article.summary %></div>
      <% end %>

      <% if @article.markdown.present? %>
        <div id="dokno-article-content-markup" class="dokno-article-content-markup text-gray-800 font-light mb-10 bg-gray-100 p-10 rounded">
          <%= @article.markdown_parsed %>
        </div>
      <% end %>

      <% if @article.summary.blank? && @article.markdown.blank? %>
        <div class="mb-10">No content</div>
      <% end %>
    </div>
  </div>
</section>

<% if can_edit? %>
  <div class="no-print">
    <hr class="mt-5 mb-10" />
    <div class="text-right">
      <button title="Edit article" class="bg-blue-900 text-gray-300 hover:text-white rounded mr-5 py-2 px-3 font-bold text-sm" onclick="location.href='<%= edit_article_path(@article.slug) %>';"><i data-feather="edit-2" class="inline h-5"></i> EDIT</button>

      <% if @article.active %>
        <button title="Deactivate article" id="article-deactivate-button" class="bg-yellow-700 text-gray-300 hover:text-white rounded mr-5 py-2 px-3 font-bold text-base" onclick="setArticleStatus('<%= @article.slug %>', false);"><i data-feather="file-minus" class="inline h-5"></i> DEACTIVATE</button>
      <% else %>
        <button title="Re-activate article" id="article-activate-button" class="bg-green-700 text-gray-300 hover:text-white rounded mr-5 py-2 px-3 font-bold text-base" onclick="setArticleStatus('<%= @article.slug %>', true);"><i data-feather="file-plus" class="inline h-5"></i> RE-ACTIVATE</button>
      <% end %>
      <button title="Permanently delete article" class="bg-red-700 text-gray-300 hover:text-white rounded py-2 px-3 font-bold text-base" onclick="deleteArticle('<%= @article.id %>');"><i data-feather="slash" class="inline h-5"></i> DELETE</button>
    </div>
  </div>
<% end %>
