<%= render 'dokno/article_formatting' %>

<section>
  <div class="flex">
    <div id="dokno-article-sidebar" class="w-2/5 pr-10">
      <div id="article-deprecated-alert" class="<%= 'hidden' if @article.active %> bg-yellow-300 p-5 mb-5 rounded text-lg border-t-4 border-yellow-500 shadow-md">
        <i data-feather="alert-circle" class="inline-block h-5"></i> This article is no longer active
      </div>

      <h1 class="text-4xl mb-10 leading-tight font-light"><%= @article.title %></h1>

      <div>
        <div class="mb-10 no-print">
          <button title="Print article" class="bg-gray-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold" onclick="window.print();"><i data-feather="printer" class="inline h-5"></i> PRINT THIS</button>

          <% if can_edit? %>
            <button title="Edit article" class="bg-gray-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold" onclick="location.href='<%= edit_article_path(@article.slug) %>';"><i data-feather="edit" class="inline h-5"></i> EDIT THIS</button>

            <div class="mt-3">
              <button title="Deactivate article" id="article-deactivate-button" class="bg-yellow-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold <% if !@article.active %>hidden<% end %>" onclick="deactiveArticle('<%= @article.slug %>');"><i data-feather="sunset" class="inline h-5"></i> DEACTIVATE THIS</button>
              <button title="Re-activate article" id="article-activate-button" class="bg-green-700 text-gray-300 hover:text-white rounded mr-3 py-2 px-3 font-bold <% if @article.active %>hidden<% end %>" onclick="activeArticle('<%= @article.slug %>');"><i data-feather="sunrise" class="inline h-5"></i> RE-ACTIVATE THIS</button>
              <button title="Permanently delete article" class="bg-red-700 text-gray-300 hover:text-white rounded py-2 px-3 font-bold" onclick="deleteArticle('<%= @article.id %>');"><i data-feather="trash" class="inline h-5"></i> DELETE THIS</button>
            </div>
          <% end %>
        </div>

        <div class="flex">
          <div class="no-print w-8"><i data-feather="clock" class="inline-block h-5"></i></div>
          <div class="w-full">
            Last updated:<br />
            <%= time_ago_in_words @article.updated_at %> ago
            <% if (editor_username = @article.logs.first&.username).present? %>
              by <%= editor_username %>
            <% end %>
          </div>
        </div>
        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="crosshair" class="inline-block h-5"></i></div>
          <div class="w-full">
            Unique slug:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= j @article.slug %>');"><%= @article.slug %></a>
          </div>
        </div>
        <div class="mt-5 flex">
          <div class="no-print w-8"><i data-feather="link" class="inline-block h-5"></i></div>
          <div class="w-full">
            Permalink:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= @article.permalink(request.base_url) %>');"><%= @article.permalink(request.base_url) %></a>
          </div>
        </div>

        <% if @article.categories.exists? %>
          <div class="mt-5 flex">
            <div class="no-print w-8"><i data-feather="folder" class="inline-block h-5"></i></div>
            <div class="w-full">
              <%= 'Category'.pluralize @article.categories.count %>:<br />
              <% @article.categories.map { |category| { id: category.id, breadcrumb: category.breadcrumb } }.sort_by { |category_hash| category_hash[:breadcrumb] }.each do |category| %>
                <div><a href="<%= root_path %>?id=<%= category[:id] %>"><%= category[:breadcrumb] %></a></div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div id="dokno-article-content" class="w-3/5">
      <% if @article.summary.present? %>
        <div class="text-3xl mb-10 text-gray-700 font-light"><%= @article.summary %></div>
      <% end %>

      <div id="dokno-article-content-markup" class="dokno-article-content-markup text-gray-800 font-light mb-10 bg-gray-100 p-10 rounded">
        <% if @article.markdown.present? %>
          <%= @article.markdown_parsed %>
        <% else %>
          No article content
        <% end %>
      </div>
    </div>
  </div>
</section>
