<%= render 'dokno/article_formatting' %>

<section>
  <div class="flex">
    <div class="w-2/5 pr-10 break-all">
      <h1 class="text-4xl mb-10 leading-tight font-light"><%= @article.title %></h1>

      <div>
        <div class="flex">
          <div class="w-8"><i data-feather="clock" class="inline-block h-5"></i></div>
          <div class="w-full">
            Last updated:<br />
            <%= @article.updated_at %>
          </div>
        </div>
        <div class="mt-5 flex">
          <div class="w-8"><i data-feather="crosshair" class="inline-block h-5"></i></div>
          <div class="w-full">
            Unique slug:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= j @article.slug %>');"><%= @article.slug %></a>
          </div>
        </div>
        <div class="mt-5 flex">
          <div class="w-8"><i data-feather="link" class="inline-block h-5"></i></div>
          <div class="w-full">
            Permalink:<br />
            <a title="Copy to clipboard" href="javascript:;" onclick="copyToClipboard('<%= @article.permalink(request.base_url) %>');"><%= @article.permalink(request.base_url) %></a>
          </div>
        </div>

        <% if @article.categories.exists? %>
          <div class="mt-5 flex">
            <div class="w-8"><i data-feather="folder" class="inline-block h-5"></i></div>
            <div class="w-full">
              <%= 'Category'.pluralize @article.categories.count %>:<br />
              <% @article.categories.map { |category| { id: category.id, breadcrumb: category.breadcrumb } }.sort_by { |category_hash| category_hash[:breadcrumb] }.each do |category| %>
                <div><a href="<%= category_path category[:id] %>"><%= category[:breadcrumb] %></a></div>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="w-3/5">
      <% if @article.summary.present? %>
        <div class="text-3xl mb-10 text-gray-700 font-light"><%= @article.summary %></div>
      <% end %>

      <div class="dokno-article-content-markup text-gray-800 font-light mb-10 bg-gray-100 p-10 rounded">
        <% if @article.markdown.present? %>
          <%= @article.markdown_parsed %>
        <% else %>
          No article content
        <% end %>
      </div>

      <div class="mt-10">
        <%= render 'article_buttons' %>
      </div>
    </div>
  </div>
</section>
