<!-- Dokno Slide-out Panel                                                                            -->
<!-- This file is injected into the host layout when included via `render 'dokno/article_panel'`      -->
<!-- in the host app's app/views/layouts/application.html.erb to provide support for slide-out        -->
<!-- article panels with `dokno_article_modal({link-text}, slug: {article-slug})`                     -->

<!-- Reset styles -->
<%= render 'dokno/reset_formatting' %>

<!-- Slide-out panel styles -->
<%= render 'dokno/panel_formatting' %>

<!-- Article content styles -->
<%= render 'dokno/article_formatting' %>

<!-- Slide-out panel markup -->
<div id="dokno-panel-container">
  <a id="dokno-panel-close" href="javascript:;" title="Close panel" onclick="doknoClosePanel();">&rarr;</a>

  <div id="dokno-panel-title"></div>
  <div id="dokno-panel-summary"></div>
  <div id="dokno-panel-markdown" class="dokno-article-content-markup"></div>
  <div id="dokno-panel-footer"></div>
</div>

<!-- Slide-out panel behavior -->
<script>
  function doknoOpenPanel(slug) {
    if (slug == dokno__slug) {
      doknoClosePanel();
      dokno__slug = null;
      return true;
    }
    dokno__slug = slug;

    // Can't use fetch API since unsupported in IE
    const request = new XMLHttpRequest();
    request.open('GET', '<%= Dokno::Engine.routes.url_helpers.root_path %>article_panel/' + slug, true);
    request.onload = function() {
      if (request.readyState == 4 && request.status == 200) {
        try {
          var data = JSON.parse(request.responseText);
        } catch(err) {
          console.log(err.message + " in " + request.responseText);
          return;
        }

        dokno__id = data.id;
        document.getElementById('dokno-panel-title').innerHTML = data.title;
        document.getElementById('dokno-panel-summary').innerHTML = data.summary;
        document.getElementById('dokno-panel-markdown').innerHTML = data.markdown;
        document.getElementById('dokno-panel-footer').innerHTML = data.footer;

        var
          title_span = document.querySelector('div#dokno-panel-title > span'),
          icon_svg   = document.querySelector('div#dokno-panel-footer > svg');

        title_span.setAttribute('title', 'Open full article page');
        title_span.onclick = function() { window.open('<%= Dokno::Engine.routes.url_helpers.root_path %>articles/' + dokno__id); }
        icon_svg.onclick   = function() { window.open('<%= Dokno::Engine.routes.url_helpers.root_path %>'); }

        dokno__panel.scrollTop = 0;
        dokno__panel.classList.add('open');
      }
    };

    request.send();
  }

  function doknoClosePanel() {
    dokno__panel.classList.remove('open');
  }

  const dokno__panel = document.getElementById('dokno-panel-container');
  var dokno__id, dokno__slug;
</script>
