<% if @category&.parent.present? %>
  <div class="text-gray-500 mb-5">
    <div><%= @category.breadcrumb %></div>
  </div>
<% end %>

<div class="flex items-center mb-10">
  <% if Dokno::Category.exists? %>
    <div class="w-1/2 pr-5">

      <select aria-label="Category" name="category" id="category" size="1" class="rounded text-xl shadow-inner bg-gray-100 p-2 w-full max-w-full" onchange="changeCategory(this.value, elem('#search_term').value, '<%= @order %>');">
        <option value="">Select a category</option>
        <% cache Dokno::Category do %>
          <%= Dokno::Category.select_option_markup.html_safe %>
        <% end %>
      </select>

    </div>
  <% end %>
  <div class="w-<%= Dokno::Category.exists? ? '1/2 pl-5' : 'full' %>">
    <input onsearch="search(this.value, '<%= @order %>');" placeholder="Search article content, titles, and slugs" type="search" name="search_term" id="search_term" value="<%= @search_term %>" class="rounded text-xl shadow-inner bg-gray-100 p-2 w-full" />
  </div>
</div>

<% if @articles.blank? %>

  <section class="border-t border-gray-300 py-10 text-xl">
    <% if Dokno::Category.exists? %>
      <% if @search_term.present? %>
        No articles found <% if @category.present? %>in this category<% end %> matching the given search criteria
      <% elsif @category.present? %>
        No articles found in this category
      <% else %>
        No uncategorized articles
      <% end %>
    <% elsif can_edit? %>
      <a href="<%= new_category_path(@category&.id) %>">Add your first category</a>
    <% end %>
  </section>

<% else %>

  <div id="dokno-article-list-controls-top" class="flex mb-10">
    <div class="w-2/3">
      <%= render 'partials/pagination' %>
    </div>
    <div class="w-1/3 text-right">
      <i data-feather="corner-right-down" class="h-5 inline-block" title="Sort order"></i>
      <a class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'updated' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=updated">Updated</a>
      <a class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'newest' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=newest">Newest</a>
      <a class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'views' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=views">Views</a>
      <a class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'alpha' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=alpha">Title</a>
    </div>
  </div>

  <div id="dokno-article-list">
    <% @articles.each do |article| %>
      <section class="border-t border-gray-300 py-10 text-xl flex">
        <div class="w-1/3 pr-10">
          <div class="flex">
            <div class="no-print w-10 text-gray-300"><i data-feather="chevron-right" class="inline-block"></i></div>
            <div class="w-full">
              <a class="" href="<%= article_path article.slug %>?search_term=<%= @search_term %>" title="View article"><%= article.title %></a>
            </div>
          </div>
        </div>
        <div class="dokno-article-summary w-2/3 <% unless article.active %>text-gray-500 italic<% end %>">
          <% unless article.active %>
            <div class="bg-yellow-700 p-4 mb-5 rounded text-lg border-t-4 border-yellow-900 text-white font-base not-italic">
              <i data-feather="alert-circle" class="inline-block"></i> This article is no longer active
            </div>
          <% end %>

          <span class="dokno-article-content-highlight"><%= article.summary.presence || 'No summary provided' %></span>

          <% unless @order == 'alpha' %>
            <div class="text-base mt-2">
              <% if @order == 'views' %>
                <div class="text-gray-500">Viewed <%= number_with_delimiter(article.views, delimiter: ',') %> <%= 'time'.pluralize(article.views) %></div>
              <% elsif @order == 'updated' %>
                <div class="text-gray-500">Last updated <%= time_ago_in_words article.updated_at %> ago</div>
              <% elsif @order == 'newest' %>
                <div class="text-gray-500">Added <%= time_ago_in_words article.created_at %> ago</div>
              <% end %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>
  </div>

  <div id="dokno-article-list-controls-bottom" class="flex mt-10">
    <div class="w-2/3">
      <%= render 'partials/pagination' %>
    </div>
    <div class="w-1/3 text-right"></div>
  </div>
<% end %>

<script>
  // Client-side select of cached select list
  selectOption('category', '<%= j @category&.code %>');
</script>

<% if @search_term.present? %>
  <script> highlightTerm(['<%= j @search_term.strip %>'], 'dokno-article-content-highlight'); </script>
<% end %>
