<% if !current_page?(up_for_review_path) && (@category.blank? || @search_term.present?) %>
  <div class="text-center m-auto mb-10 w-full max-w-screen-xl">
    <% if @search_term.present? %>
      <div class="text-gray-600 text-2xl uppercase">
        <%= @total_records.positive? ? "#{@total_records} #{'article'.pluralize(@total_records)}" : 'No articles' %>
        found containing the search term
        <div class="text-4xl leading-tight"><span class="font-serif">&ldquo;</span> <%= @search_term %> <span class="font-serif">&rdquo;</span> </div>
      </div>
    <% else %>
      <div class="text-gray-600 text-2xl">
        Browse or search
        <% if (article_count = Dokno::Article.count) > 1 %>
          <%= number_with_delimiter(article_count, delimiter: ',') %> articles in
        <% end %>
        the
      </div>
      <div class="text-gray-800 text-4xl leading-tight uppercase"><%= Dokno.config.app_name %> knowledgebase</div>
    <% end %>
  </div>
<% end %>

<% if @category&.parent.present? %>
  <div class="text-gray-500 mb-5">
    <div><span class="text-gray-500 mr-1">Under</span> <%= @category.breadcrumb(search_term: @search_term, order: @order, hide_self: true) %></div>
  </div>
<% end %>

<% if !current_page?(up_for_review_path) && (Dokno::Category.exists? || Dokno::Article.exists?) %>
  <%= render 'partials/category_header' %>
<% end %>

<% if @articles.blank? %>

  <section class="border-t border-gray-300 py-10 text-xl">
    <% if Dokno::Category.exists? %>
      <% if @search_term.present? %>
        No articles found <% if @category.present? %>in this category<% end %> matching the given search criteria
      <% elsif @category.present? %>
        No articles found in this category
      <% else %>
        No uncategorized articles
      <% end %>
    <% elsif can_edit? %>
      <a href="<%= new_category_path(@category&.id) %>">Add your first category</a>
    <% end %>
  </section>

<% else %>

  <div id="dokno-article-list-controls-top" class="flex mb-10">
    <div class="w-2/3">
      <%= render 'partials/pagination' %>
    </div>
    <div class="w-1/3 text-right">
      <i data-feather="corner-right-down" class="h-5 inline-block" title="Sort order"></i>
      <a id="dokno-order-link-updated" class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'updated' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=updated">Updated</a>
      <a id="dokno-order-link-newest" class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'newest' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=newest">Newest</a>
      <a id="dokno-order-link-views" class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'views' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=views">Views</a>
      <a id="dokno-order-link-alpha" class="ml-3 pb-1 <%= 'border-b-2 border-blue-900' if @order == 'alpha' %>" href="?search_term=<%= CGI.escape @search_term.to_s %>&order=alpha">Title</a>
    </div>
  </div>

  <div id="dokno-article-list">
    <% @articles.each do |article| %>
      <section class="border-t border-gray-300 py-10 text-xl flex">
        <div class="w-1/3 pr-10">
          <div class="flex">
            <div title="<%= 'Starred article' if article.starred %>" class="no-print w-10 text-gray-300"><i data-feather="<%= article.starred ? 'star' : 'chevron-right' %>" class="inline-block"></i></div>
            <div class="w-full">
              <a class="dokno-article-title <% unless article.active %>text-gray-500 italic<% end %>" href="<%= article_path article.slug %>?search_term=<%= @search_term %>&cat_code=<%= @category&.code %>&order=<%= @order %>" title="View article"><%= article.title %></a>
            </div>
          </div>
        </div>
        <div class="dokno-article-summary w-2/3 <% unless article.active %>text-gray-500 italic<% end %>">
          <div class="dokno-article-content-highlight mb-2"><%= article.summary.presence || 'No summary provided' %></div>

          <div class="text-base text-gray-500">
            <%= article.category_name_list(context_category_id: @category&.id, order: @order, search_term: @search_term) %>
          </div>

          <% unless @order == 'alpha' %>
            <div class="text-base">
              <% if @order == 'views' %>
                <div class="text-gray-500">This article was viewed <%= number_with_delimiter(article.views, delimiter: ',') %> <%= 'time'.pluralize(article.views) %></div>
              <% elsif @order == 'updated' %>
                <div class="text-gray-500">This article was last updated <%= time_ago_in_words article.updated_at %> ago</div>
              <% elsif @order == 'newest' %>
                <div class="text-gray-500">This article was added <%= time_ago_in_words article.created_at %> ago</div>
              <% end %>
            </div>
          <% end %>

          <% if !article.active %>
            <div class="bg-yellow-700 p-4 mt-5 rounded text-lg border-t-4 border-yellow-900 text-white font-base not-italic">
              <i data-feather="info" class="inline-block mr-1"></i> This article is no longer active
            </div>
          <% end %>

          <% if article.up_for_review? %>
            <div class="bg-<%= article.review_due_days.negative? ? 'red' : 'gray' %>-800 p-4 mt-5 rounded text-lg border-t-4 border-<%= article.review_due_days.negative? ? 'red' : 'gray' %>-900 text-white font-base not-italic">
              <i data-feather="bell" class="inline-block mr-1"></i> <%= article.review_due_days_string %>
            </div>
          <% end %>

        </div>
      </section>
    <% end %>
  </div>

  <div id="dokno-article-list-controls-bottom" class="flex mt-10">
    <div class="w-2/3">
      <%= render 'partials/pagination' %>
    </div>
    <div class="w-1/3 text-right"></div>
  </div>
<% end %>

<% if @search_term.present? && @articles.blank? %>
  <script> handleSearchHotKey(); </script>
<% end %>
